.message-list-container {
    flex-grow: 1;
    background-color: #16213e;
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
}

.message-list {
    display: flex; 
    flex-direction: column; 
    gap: 1.25rem; 
}

.no-messages {
    text-align: center;
    font-size: 1.25rem;
    color: #a1a1aa;
    margin-top: calc(40vh - 18rem);
}

chat-messages > ::deep div:last-of-type {
    /* Adds some vertical buffer to so that suggestions don't overlap the output when they appear */
    margin-bottom: 2rem;
}
